{{ define "footer" }}
<footer>
    <button id="donateBtn" class="donate-button">Buy me a coffee</button>
</footer>

<div id="donateModal" class="modal">
    <div class="modal-content fantasy-modal">
        <div class="parchment">
            <span class="close">&times;</span>
            <div class="header">
                <h2>🛡️ Support the laborer 🛡️</h2>
                <div class="divider">
                    <div class="divider-left"></div>
                    <div class="divider-center">✧</div>
                    <div class="divider-right"></div>
                </div>
            </div>
            <div class="donate-details">
                <div class="donate-item">
                    <span class="icon">💰</span>
                    <span class="label">Golden coins:</span>
                    <span href="https://www.donationalerts.com/r/birguslatro" class="value">https://www.donationalerts.com/r/birguslatro</span>
                    <button class="copy-btn fantasy-btn">📜</button>
                </div>
                <div class="donate-item">
                    <span class="icon">🔮</span>
                    <span class="label">Magic crystals:</span>
                    <span class="value">0xdd28b4c7cf2a42180bdd47f9985a7d4bbfbe16da</span>
                    <button class="copy-btn fantasy-btn">📜</button>
                </div>
                <div class="donate-item">
                    <span class="icon">🕊️</span>
                    <span class="label">Pigeon mail:</span>
                    <span class="value">kaktus.fikus2024@gmail.com</span>
                    <button class="copy-btn fantasy-btn">📜</button>
                </div>
            </div>
            <div class="footer">
                <p>Your support helps me see a miracle!</p>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById("donateModal");
    const btn = document.getElementById("donateBtn");
    const span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    document.querySelectorAll('.copy-btn').forEach(btn => {
    btn.addEventListener('click', function() {
        const valueElement = this.parentElement.querySelector('.value');
        const text = valueElement.textContent.trim();
        
        navigator.clipboard.writeText(text).then(() => {
            const originalText = this.textContent;
            this.textContent = '✔️';
            setTimeout(() => {
                this.textContent = originalText;
            }, 2000);
        });
    });
});
</script>
{{ end }}