<!DOCTYPE html>

{{ template "header" .LangData }}

<div class="kingmaker-page">
    <div class="category-buttons">
        <a href="/kingmaker/spells" class="category-button">Spells</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Feats</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Potions</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Scrolls</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Armor</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Weapon</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Accessories</a>
        <a style="background: linear-gradient(145deg, #333333, #222222);
    border-color: #666666;" class="category-button">Items</a>
    </div>
</div>

{{ template "footer" }}

</div>
</div>
</body>
</html>
